@font-face {
  font-family: 'Minecraftchmc-dBlX';
  src: url('Minecraftchmc-dBlX.eot');
  src: url('Minecraftchmc-dBlX.eot?#iefix') format('embedded-opentype'),
       url('Minecraftchmc-dBlX.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

